* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.full {
    max-width: 1100px;
    width: 100%;
}

.fullPage {
        width: 100%;
        height: 52px;
        position: fixed;
        top: 0;
        background-color: #fff;
        z-index: 999;
        display: inline-block;
        border-bottom: 1px solid #ebebeb;
}

.container {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;   
    position: relative;       
}
section {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    display: block;
}
.mid {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    display: inline-block;

}
.fullW {
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    display: block;
}
a {
    text-decoration: none;
    color: #000;
}
li {
    list-style: none;
}
/* RESPONSIVE */
.headBar {
    display: inline-block;
    padding-top: 5px;  
}
.headBar a {
    float: left;
    /* margin-right: 12px; */
}
.headBar li {
    margin-right: 12px;
}
.logo {
    float: left;
    margin-right: 14px;    
}
.logo a img {
    width: 100px;
    height: 30px;
}
.logo a p {
    font-size: 9px;
    text-transform: uppercase;
    margin-top: -6px;
}
.menuBar {
  float: left;
}
.menuBar li {
    display: inline-block;
    line-height: 43px;
    font-weight: 600;
    position: relative;
}
.menuBar li:after {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 100%;    
    display: inline-block;
    height: 3px;
    background: transparent;
}
.menuBar li a {
    color: #444444;
    font-size: 14px;
}
.dot {
    width: 30px;
    display: inline-block;
    position: absolute;
    top: 20%;
    right: 13%;
}
.dot img {
    width: 100%;
    height: 20px;
    display: inline-block;
    padding-top: 10px;
}
                                                        /* search and admin  */
.symbol {
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    
}
button {
    position: absolute;
    top: 10px;
    right: 40px;
    background: transparent;
    border: none;
    outline: none;
}
.icon1 {
    width: 30px;
    height: 30px; 
    display: inline-block;
}
.icon2 {
    width: 30px;
    height: 30px;
    display: inline-block;
    transform: translate( 0, 35%);
}
.page {
    display: none;
    margin-top: 20px;
}
.search {
    position: relative;
}
input {
    display: none;
    position: absolute;
    top: 32%;
    right: 125%;
    width: 200px;
    padding: 7px 0px 6px 7px;
    background: #333;
    border: none;
    border-radius: 4px;
    color: #fff;
}
.hide {
   opacity: 0;
}
/* responsive */
.search .icon1:hover .page {
    display: block; 
} 
.icon1>a {
    float: right;
}
.symbol>a {
    float: right;
}
.menuBar li:hover a {
    color: #3399cc;
}
.menuBar li:hover::after {
    background: #3399cc;
}
.bold:before {
    content: "";
    position: absolute;
    top: 2px;
    left: -5px;
    background-color: red;
    width: 4px;
    height: 15px;
    transform: skewX(-20deg);
    
}
.subCase {
    width: 170px;
    height: 160px;
    
}
.subCase a {
    font-size: 13px;
}
.subCase li {
    margin-top: 5px;
    
}
.foot {
    width: 100%;
    height: 52px;
    background: #333240;
    margin-top: -5px;
}

.foot li {
    float: left; 
    margin-right: 100px;
}
.logo1 { 
    width: 100px;
    height: 30px;
    margin-top: 12px;
}
.logo2 {
    width: 100px;
    height: 18px;
    margin-top: 18px;
}
.logo3 {
    width: 50px;
    height: 22px;
    margin-top: 16px;
}
.logo4 {
    width: 120px;
    height: 20px;
    margin-top: 17px;
}
.logo5 {
    width: 60px;
    height: 17px;
    margin-top: 18px; 
}
.logo6 {
    width: 60px;
    height: 17px;
    margin-top: 18px;   
}
.logo7 {
    width: 100px;
    height: 17px;
    margin-top: 18px;   
}
                                      /* section */

 .widget {
     margin-top: 70px;
     margin-bottom: 12px;
    height: 30px;
    position: relative;
}
.widget a:hover  {
    color: #fff;
    background: linear-gradient(to right, #23a6d5, #23d5ab  );
}
 
 .fastLink {
    position: absolute;
    top: 3px;
    left: 40px;
}
.fastLink a {
    padding: 7px;
    background: #f0f0f0;
    border-radius: 30px;
    margin-right: 20px;
    font-size: 13px;
}
 .widget-weather {
    position: absolute;
    top: 0; 
    right: 0;
    width: 300px;
    height: 30px;
    float: right;
    text-align: right;
    transition: all, .5s;
 }
 .widget-weather .wid {
     position: relative;
 }
 .widget-weather::after {
     content: "✔";
     position: absolute;
     top: 2px ;
     right: 0;
     display: none;    
 }
 .widget-weather p {
    display: inline-block;
    position: absolute;
    top: 7px;
    right: 132px;
    font-size: 14px;
    font-weight: 600;
 }
 .widget-weather span {
    position: absolute;
    top: 7px;
    right: 32px;
    font-size: 14px;
 }
 .widget-weather img {
     width: 30px;
     height: 30px;
 }
 .widget-weather:hover {
     margin-right: 20px;
 }
 .widget-weather:hover .wid {
     margin-right: 20px;
 }
 .widget-weather:hover::after {
     display: block;
 } 
 .first {
     max-width: 1100px;
     width: 100%;
 }
 .aside {
     max-width: 330px;
     width: 100%;
     float: left;
     margin-top: -10px;
 }
 .aside li {
   display: inline-block;
   padding: 10px 0;
   border-bottom: 1px solid #dedede; 
   width: 100%;
 }
 .aside a:first-child {
     padding-top: 0px;
 }
 .aside a:last-child {
     border-bottom: none;
 }
 .aside li:last-child {
    border-bottom: 0 ;
}
 .aside a:hover  {
     color: #3399cc;
 }
 .aside img {
     width: 120px;
     height: 80px;
    float: left;
    margin-right: 10px;
 }
 .content {
     max-width: 770px;
     width: 67%;
     float: right;
 }
 .main {
     max-width: 490px;
     width: 59%;
     display: inline-block;
     margin-right: 3%;
 }
 .main img {
     width: 100%;
     display: inline-block;
 }
 .main a p {
     font-size: 28px;
     color: #333;
 }
 .main span {
     color: #888;
     margin: 7px 0;
     font-size: 15px;
     display: block;
 }
 .main a:hover {
     color: #3399cc;
 }
 .main a:hover p {
     color: #3399cc;
 }
 
 .note {
     font-weight: 600;
     font-size: 14px;
 }
 .sideCol {
     max-width: 260px;
     width: 38%;
     float: right;  
 }
 .sideCol p {
     color: #333;
     font-weight: 600;
      margin: 10px 0 30px 0;
 }
 .sideCol img {
     width: 100%;
     height: 170px;
 }
 .sideCol a:hover p {
     color: #3399cc;
 }
 .bookStore {
     max-width: 1100px;
     width: 100%;
    display: block;
    margin-bottom: 2%;
}
.bookStore ul {
    max-width: 1100px;
    width: 100%;
    display: inline-block;
}
 .bookStore h3 {
     width: 100%;
     display: inline-block;
    text-transform: uppercase;
    font-size: 20px;
    position: relative;
    padding-left: 20px;
    margin: 40px 0 20px 0;
}
.bookStore h3:before {
    content: "";
    width: 4px;
    height: 15px;
    position: absolute;
    bottom: 5px;
    left: 7px;
    background: red;
    transform: skewX(-20deg);
}
.bookStore li {
    max-width: 204px;
    width: 18%;
    float: left;
    margin: 1%;
}
.bookStore img {
    width: 100%;
    height: 136px;
}
.bookStore li:hover a {
    color: #3399cc;
}
                                   /* end book */
.box {
    max-width: 1160px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    margin-bottom: 40px;
    margin-top: 30px;
    background: #ffde76;
}
.box section {
    padding: 30px 0;
}
.boxHead {
    display: inline-block;
    max-width: 100%;
    width: 100%;
    margin-bottom: 20px;
}
.boxHead h2 {
    display: inline-block;
    position: relative;   
    padding-left: 20px;
}
.boxHead ul {
    display: inline-block;
    max-width: 100%;
    width: 54%;
}
.boxHead h2,
.boxHead li {
    text-transform: uppercase;
    float: left;
    margin-right: 8%;   
    font-weight: 600;
}
.boxHead li {
    font-size: 14px;
    padding-top: 6px;
}
.boxHead h2::before {
    content: "";
    width: 4px;
    height: 17px;
    position: absolute;
    top: 5px;
    left: 0;
    background: red;
    transform: skewX(-20deg);
}
.boxHead li:hover a {
    color: #dd3333;
}
                              /* end phần menu  */

.boxMain {
    width: 100%;
    display: inline-block;
}
.boxMain1 {
    width: 100%;
    display: inline-block;
    position: relative;
}
.arMain {
    float: left;
    position: relative;
    max-width: 539px;
    width: 50%;
}
.arMain img {
    display: inline-block;
    width: 100%;
    height: 360px;
 }
 .arMain p  {
    position: absolute;
    display: block;
    bottom: 10px;
    left: 20px;
    color: #fff;
    font-size: 26px;
}
.boxMain1 li:hover p, 
.boxMain2 li:hover p{
    color: #3399cc;
} 
.subMain {
    float: right;
    max-width: 258px;
    width: 23%;
    margin-left: 2%;
}
.subMain img {
    display: inline-block;
    width: 100%;
    height: 170px;
}

.boxMain2 {
    width: 100%;
    margin-top: 20px;
    display: inline-block;
}
.boxMain2 li {
    position: relative;
    float: left;
    max-width: 258px;
    width: 22%;
    margin-right: 4%;
}
.boxMain2 img {
    max-width: 258px;
    width: 100%;
    height: 170px;
}
.boxMain2 article {
    float: left;
    margin-right: 20px;
}
.boxMain2 li:last-child {
    margin-right: 0px;
}
.smallIcon {
    background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTTADAoxWVkOw-I4tHjxHrSEqgBXQsRzgsMWQ&usqp=CAU")  no-repeat;
    background-size: 15px;
    padding-left: 22px;
}

.playbtn {
    display: inline-block;
    background: #fff url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSfpAO5w4tK-fBrSPSldf4D-swHBWqYfFFmUQ&usqp=CAU") no-repeat;
    background-size: 30px;
    background-position: center;
    padding: 15px 24px;
}
.yourNew {
    max-width: 1100px;
    width: 100%;
    margin-top: 3%;
}
.yourNew h3 {
    position: relative;
    text-transform: uppercase;
    font-size: 20px;
    padding-left: 15px;
}
.yourNew h3:before {
    content: "";
    width: 4px;
    height: 17px;
    position: absolute;
    top: 2px;
    left: 2px;
    background: red;
    transform: skewX(-20deg);
}
.subInfo {
    margin: 6px 0 14px 0;
}
.subInfo a {
    color: #3399cc;
}
.listNew {
    max-width: 780px;
    width: 100%;
    display: inline-block;
}
.listNew li {
    max-width: 780px;
    width: 100%;
    display: inline-block;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ebebeb;
}
.listNew li img {
    max-width: 257px;
    width: 100%;
    height: 172px;
    float: left;
    margin-right: 15px;
}
.listNew a {
    color: #333240;
    font-size: 20px;
}
.listNew .span {
    margin: 5px;
}
.listNew span {
    color: #888;
    font-size: 12px;
}
.listNew .smallLink {
    color: #000;
    font-size: 13px;
}
.listNew p {
    font-size: 14px;
    color: #666;
}
.listNew li:hover h4 {
    color: #3399cc;
}
.asideNew {
    width: 300px;
    display: inline-block;
}
.magazine {
    width: 100%;
    display: inline-block;
    margin-bottom: 40px;
    background-color: #eee;
    padding-bottom: 3%;
    position: relative;
}
.magazine h3 {
    font-size: 20px;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 30px;
    padding-left: 4%;
    padding-top: 2%;
}
.magazine h3::before {
    content : "";
    position: absolute;
    width: 4px;
    height: 18px;
    top: 56%;
    left: 2%;
    transform: skewX(-20deg);
    background-color: red;
}
.magazine ul {
    max-width: 100%;
    width: 100%;
    text-align: center;
    display: inline-block;
}
.magazine ul li {
    max-width: 260px;
    width: 23%;
    height: 435px;
    display: inline-block;
    position: relative;
    overflow: hidden;
    margin-right: 15px;
    border-radius: 6px;
}
.magazine li:last-child {
    margin-right: 0;
}
.background {
    transition: all 2s;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.magazine p {
    color: #fff;
}
.magazine p img {
    width: 20px;
    height: 20px;
}
.magazine .top {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    padding: 5px 40px;
    background: #ffde76 ;
    color: #000;
    text-transform: uppercase;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 600;
}
.magazine .midMagazine {
    position: absolute;
    top: 55%;
    width: 70%;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    text-align: center;
    font-size: 24px;
    color: #fff;
    /* border-top: 1px solid #ffde76; */
}
.midMagazine {
    position: relative;
    font-family: "Noto Serif";
}
.midMagazine::before {
    content: "";
    position: absolute;
    top: -30%;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 6px;
    background: #ffde76;
    z-index: -100;
}
.magazine .bottom {
    position: absolute;
    bottom: 0;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 8px;
    border-radius: 50%;
    background-color: #000;

}
.magazine li:hover .midMagazine {
    color: #ffde76;
}
.magazine li:hover .bottom {
    background: #ffde76; 
}
.magazine li:hover .background {
    transform: scale(1.1) ;
}
.features {
    max-width: 1100px;
    width: 100%;
    display: inline-block;
} 
.features ul {
    float: left;
    max-width: 260px;
    width: 23%;
    margin-top: 2%;
    margin-right: 22px;
}
.features ul:last-child {
    margin-right: 0;
}
.features1 {
    max-width: 260px;
    width: 100%;
    margin-bottom: 10px;
}
.features1 img {
    width: 100%;
    height: 172px;
    float: left;  
    margin-bottom: 10px; 
}
.subFeature {
    max-width: 260px;
    width: 100%;
    float: left;    
    margin-right: 5%;
    padding: 5% 0  ;
    border-top: 1px solid #ebebeb;
} 
.subFeature img {
    float: left;
    width: 105px;
    height: 70px;
    margin-right: 10px;
}
.subFeature p {
    font-size: 14px;
    color: #333;
    font-weight: 600;
}
.features1:hover h4,
.subFeature:hover p {
    color: #3399cc;
}
.features h3 {
    text-transform: uppercase;
    font-size: 20px;
    position: relative;
    margin-bottom: 20px;
    margin-left: 16px;
}
.features h3::before {
    position: absolute;
    content: "";
    top: 0;
    left: -13px;
    width: 4px;
    height: 18px;
    background-color: red;
    transform: skewX(-20deg);
}
.video {
    display: inline-block;
    margin: 30px 0;
}
.videobg {
    max-width: 1100px;
    width: 100%;
    display: inline-block;
    background: #ddd;
  
}
.video h3 {
    text-transform: uppercase;
    font-size: 20px;
    position: relative;
    margin-bottom: 20px;
    margin-left: 16px;
}
.video h3::before {
    position: absolute;
    content: "";
    top: 0;
    left: -13px;
    width: 4px;
    height: 18px;
    background-color: red;
    transform: skewX(-20deg);
}
.mainVideo {
    max-width: 800px;
    width: 73%;
    height: auto;
    margin-right: 10px;
    float: left;
}
.mainVideo a {
    display: inline-block;
    width: 100%;
}
.mainVideo img {
    display: inline-block;
    width: 100%;
    height: 450px;
}
.subVideo {
    max-width: 280px;
    width: 26%;
    float: right;
    height: 450px;
}
.subVideo ul {
    width: 100%;
    float: right;
}
.subVideo li {
    width: 100%;
    margin: 10px 0px;
    display: inline-block;
}
.subVideo li:hover p {
    color: #3399cc;
}
.subVideo li img {
    float: left;
    margin-right: 10px;
    width: 120px;
    height: 80px;
}
.promotion h4 {
    color: #00b6af;
    margin: 20px 0;
}
.proCol {
    max-width: 350px;
    width: 32%;
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
}
.proCol:last-child {
    margin-right: 0;
}
.proCol li {
    width: 100%;
}
.proCol li {
    margin: 4px 10px 0px 0px;
    padding-bottom: 30px;
    color: #333;
    font-size: 14px;
    border-bottom: 1px dashed #999;
    overflow: hidden;
    display: inline-block;
}
.proCol li  a p {
    display: block;
    overflow: hidden;
    /* height: 30px; */
}
.proCol li:last-child {
    border-bottom: none;
}
.proArticle {
    display: inline-block;
}
.proArticle img,
.addImage img {
    width: 120px;
    height: 80px;
    float: left;
    margin-right: 10px;
}
.addImage img {
    display: none;
}
.proArticle p {
    color: #333;
    font-size: 15px;
}

.proCol li:hover  p {
    color: #3399cc;
}


.footer {
    background-color: #f7f7f7;
    width: 100%;
    display: inline-block;
}
.footer p {
    font-size: 12px;
    color: #888;
    margin-bottom: 7px;
}
.footer .icon img {
    width: 90px;
    height: 30px;
    display: inline-block;
}
.leftInfo {
    float: left;
}
.rightInfo {
    float: right;
}
.linkFoot a {
    color: #888;
    border-right: 1px solid #888;
    padding: 0px 3px;
}
.linkFoot a:last-child {
    border: none;
}

@media only screen and (max-width: 1020px) {
    .container .logo {
        position: absolute; 
        top: 50%;
        left: 50%;
        transform: translateX(-50%);
    }
    .menuBar {
        max-width: 1100px;
        width: 100%;
        display: none;
    }
    .dot {
        position: absolute;
        width: 50px;
        top: 50%;
        left: 0;
        padding-left: 20px;
    }
    .symbol {
        margin-right: 20px;
    }
    .widget {
        visibility: hidden;
    }
    .bookStore {
        float: none;
        /* nằm tại vị trí cũ của chính nó ban đầu */
        max-width: 1100px;
        width: 100%;
        display: inline-block;
        padding-left: 3%;
        margin-bottom: 5%;
    }

    .bookStore li {
       max-width: 162px;
       width: 16%;
        font-size: 14px;
        margin: 0 2%;
    }
    .bookStore li img {
        width: 100%;
        height: 110px;
    }
    .first {
        max-width: 1100px;
        width: 100%;
        padding-left: 3%;
    }
    .content {
       max-width: 100%;
       width: 50%; 
       float: left;
    }
    .content .main {
        width: 94%;
        margin-right: 2%;
    }
    .main {
        max-width: 490px;
        width: 70%;
    }
    .main span,
    .note
     {
        display: none;
    }
    .aside {
        max-width: 100%;
        width: 47%;
        float: right;
    }
    .content .sideCol {
        width: 100%;
        max-width: 100%;
        padding-right: 15px;
    }
    .sideCol img {
        display: none;
    }
    .sideCol p {
        font-size: 20px;
        border-top: 1px solid #ebebeb;
        padding-top: 10px;
    }
    .boxHead ul {
        display: none;
    }
    .arMain {
        float: none;
        max-width: 100%;
        width: 100%;
        display: inline-block;
    }
    .arMain img {
        width: 100%;
        height: auto;
    }
    .subMain  {
        float: left;
        max-width: 100%;
        width: 50%;
        margin-left: 0; 
        margin-top: 2%;
    }
    .subMain img {
        float: left;
        width: 120px;
        height: 80px;
        margin-right: 2%;
    }
    .box {
        width: 100%;
        display: inline-block;
        margin-bottom: 40px;
        padding: 0 20px;
    }
    .box .boxMain2 {
        width: 100%;
    }
    .boxMain2 li {
        float: left;
        margin-left: 0;
        max-width: 100%;
        margin-right: 0;
        width: 50%;
        margin-bottom: 2%;
    }
    .boxMain2 img {
        float: left;
        width: 120px;
        height: 80px;
        margin-right: 2%;
    }
    .yourNew {
        max-width: 1100px;
        width: 100%;
        display: inline-block;
        padding: 0 5%;
    }
    .listNew {
        max-width: 100%;
        width: 100%;
        display: inline-block;
    }
    .listNew li {
        max-width: 100%;
        width: 100% ;
        float: left;
    }
    .listNew li img {
        max-width: 295px;
        width: 30%;
        height: auto;
        float: left;
    }
    .magazine {
        padding: 3%;
    } 
    .magazine ul li {
        max-width: 215px;
        width: 22%;
        height: 360px;
    }
    .magazine .midMagazine {
        font-size: 1.2rem;
    }
    .magazine .background {
        max-width: 100%;  
    }
    .features {
        max-width: 100%;
        width: 100%;
        display: inline-block;
        padding-left: 3%; 
    }
    .features ul {
        max-width: 100%;
        width: 50%;
        margin-right: 0;
    }
    .features1 h4 {
        margin-left: 28%;
        font-weight: 600;
        color: #333;
        font-size: 14px;
    }
    .features1, .subFeature {
        float: left;
        max-width: 100%;
        width: 100%;
    }
    .features1 img, .subFeature img {
        max-width: 120px;
        width: 100%;
        height: 80px;
        float: left;
        margin-right: 2%;
    }
    .video {
        display: inline-block;
        padding: 0 3%;
    }
    .videobg {
        background-color: #444;
    }
    .mainVideo {
        max-width: 100%;
        width: 100%;
        display: inline-block;
    }
    .subVideo {
        max-width: 100%;
        width: 100%;
        display: inline-block;
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
        height: auto;
    }
    .subVideo ul {
        display: inline-block;
        width: 100%;
    }
    .subVideo li {
        display: inline-block;
        max-width: 204px;
        width:22%;
        margin-left: 2%;
    }
    .subVideo span {
        font-size: .7rem;
        color: #aaa;
    }
    .subVideo li img {
        width: 100%;
        height: 136px;
        display: inline-block;
        float: none;
    }
    .videoText p {
        display: none;
    }
    .video span {
        display: inline-block;
    }
    .promotion {
        max-width: 100%;
        width: 100%;
        padding-left: 3%;
    }
    .proCol {
        max-width: 100%;
        width: 32%;
        vertical-align: top;
    }
    .proCol li p {
        font-weight: 600;
    }
    .footer {
     padding: 0 3%;
    }
}
@media only screen and (max-width: 767px) {
    .aside li:last-child {
        border-bottom: 0;
    }
    .first {
        margin-top: -6%;
        padding-right: 2%;
    }
    .bookStore li  {
        background: #f7f7f7;
        max-width: 210px;
        width: 29%;
        height: auto;
        display: inline-block;
        padding-bottom: 3%;
    }
    .bookStore li:nth-child(4),
    .bookStore li:nth-child(5) {
        display: none;
    }
    .bookStore li img {
        width: 100%;
        height: 140px;
        display: inline-block;
        margin-bottom: 3%;
    }
    .bookStore li a {
        margin-top: 5%;
        color: #333;
        font-weight: 600;
        padding: 0 1% ;
    }
    .arMain {
        max-width: 668px;
        width: 100%;
        display: inline-block;
    }
    .arMain img {
        width: 100%;
        height: 445px;
        display: inline-block;
    }
    .subMain {
        max-width: 327px;
        width: 48%;
        display: inline-block;
        margin-right: 2%;
    }
    .subMain img {
        width: 100%;
        height: 218px;
        display: inline-block;
        margin-bottom: 2%;
    }
    .subMain a {
        font-weight: 600;
    }
    .boxMain2 li {
        max-width: 327px;
        width: 48%;
        height: 270px;
        display: inline-block;
        margin-right: 2%;
    }
    .boxMain2 li a {
        color: #333;
        font-weight: 600;
    }
    .boxMain2 li p {
        padding-left: 0;
    }
    .boxMain2 li img {
        width: 100%;
        height: 218px;
        display: inline-block;
        margin-bottom: 2%;
    }
    .listNew li {
        max-width: 100%;
        width: 100%;
        display: inline-block;
    }
    .listNew li img {
        max-width: 222px;
        width: 100%;
        height: 148px;
        float: left;
    }
    .text {
        display: block;
    }

    .listNew li:last-child {
        border-bottom: none;
    }
    .magazine ul {
        max-width: 100%;
        width: 100%;
        display: inline-block;
    }
    .magazine ul li {
        max-width: 215px;
        width: 30%;
        float: left;
        height: auto;
    }
    .magazine li:last-child {display: none;}
    .magazine ul li .background {
        width: 100%;
        height: 365px;        
        display: inline-block;
    }
    .magazine h4 {
        font-size: 1.2rem;
    } 
    .bottom img {
        max-width: 20px;
        width: 100%;
        height: 20px;
    }
    .features ul {
        display: inline-block;
        max-width: 100%;
        width: 100%;
    } 
    .features1 h4 {
        margin-left: 1%;
    }
    .features1 {
        margin: 1% 0;
    }
    .subFeature {
     padding: 2% 0;
    }
    .video {
        max-width: 100%;
        width: 100%;
        display: inline-block;
    }
    .subVideo li {
        display: inline-block;
        max-width: 150px;
        width: 22%;
        height: auto;
    }
    .subVideo li img {
        display: inline-block;
        width: 100%;
        height: 100px;

    }
    .proCol {
        max-width: 100% ;
        width: 100%;
        display: inline-block;
    }
    .proCol li {
        width: 100%;
        height: auto;
        display: inline-block;
    }
    .proCol .addImage img {
        display: block;
    }
    .footer {
        width: 100%;
        height: auto;
        display: inline-block;
        text-align: center;
    }
    .footer .icon img {
        text-align: center;
        margin-bottom: 1%;
        width: 100%;
        display: block;
    }
    .footer .leftInfo,
    .footer .rightInfo {
        width: 100%;
        display: block;
    }
    
    }
    @media only screen and (max-width: 714px) { 
     .first { 
         width: 100%;
         display: inline-block;
     }
     .content {
         width: 100%;
         display: inline-block;
         border-bottom: 4px solid #888;
         margin-bottom: 20px;
     }
     .content .main {
         max-width: 627px;
         width: 100%;
         display: inline-block;
     }
    .aside {
        max-width: 627px;
        width: 100%;
        float: none;
    }
    }
